<div class="container">
<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content class="sidenav-content"> -->

    <div class="wrapper mat-elevation-z0 search-box" align="center">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Explore me</mat-label>
        <input matInput [(ngModel)]="searchString" (keydown.enter)="onSearch()">
      </mat-form-field>
      <div class="row">
        <h5 style="color: red;">{{ errorMessage }}</h5>
      </div>
    </div>

    <div class="search-form mat-elevation-z8" *ngIf="searchResults && searchResults.length > 0">
      <div class="suggestion-title">Apllication List</div>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let column of headerKeys" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
          <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="headerKeys"></tr>
        <tr mat-row *matRowDef="let row; columns: headerKeys;"></tr>
      </table>
      <!--  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator> -->
    </div>

    <div class="row suggestion-title">
      <ul *ngIf="ticketString">
        <h5>{{ ticketString["Text"] }}</h5>
        <!--  working radio button   -->
        <div *ngFor='let option of ticketString["Options"]; let idx = index'>
          <input type="radio" name="radiogroup" [checked]="idx === 0" (change)="onSelectionChange(idx)"> {{ option["Option"]
          }}
        </div>
        <!--  working radio button   -->
      </ul>
    </div>
    <div class="row suggestion-title">
      <ul *ngIf="selectedResult != ''">
        <h5>Please select below options</h5>
        <div *ngFor='let option of selectedResult["Options"]; let idx = index'>
          <input type="radio" name="radiogroup" [checked]="idx === 0" (change)="onAppChange(idx)"> {{ option["Option"] }}
        </div>
      </ul>
    </div>

    <div class="row suggestion-title">
      <ul *ngIf="selectedAppResult.length>0">
        <div *ngFor='let option of selectedAppResult'>
          <input type="text">
        </div>
        <input type="button" class="btn" value="Submit" onSubmit="ticketSubmit()">
      </ul>
      <ul *ngIf="ticketSbmtStr.length>0">
        {{ this.ticketSbmtStr }}
      </ul>
    </div>
       <!-- use form instead of simple div  then import search service to search-box and then update oracle  -->
    <mat-card *ngIf="ticketSpecificResult">
      <form (submit)="onSbmtTkt(postForm)" #postForm="ngForm">
        <mat-card-subtitle>{{ ticketSpecificResult[0]["Text"]}}
          </mat-card-subtitle>
           <mat-form-field>
            <input matInput type="text"  appearance="outline" placeholder="Enter Code" name="sprCde" ngModel required #sprCde="ngModel">
          </mat-form-field>
          <mat-form-field>
              <input matInput type="text" appearance="outline" placeholder="Enter Contract Status Code" name="sprStsCde" ngModel required #sprStsCde="ngModel">
            </mat-form-field>
                 
      <!-- Below one is used if we needed for automation   
        <div *ngFor='let labels of ticketlabel'>{{ labels }}
          <input  type="text" >
        </div> -->
        
        <button mat-raised-button color="primary" type="Submit">Submit</button>
      </form>
    </mat-card>
    <!--  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator> -->
<!--   </mat-sidenav-content>
</mat-sidenav-container> -->
</div>